.upiwc-section {
    position: relative;
    margin-top: 10px;

    .upiwc-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(84, 84, 84, 0.15);
        border-image: initial;
        padding: 18px;
        background-color: #f7f7f7;

        .upiwc-waiting-text {
            text-transform: uppercase;
            color: #5a5a5a;
            font-size: 13px;
            margin: 0 0 10px !important;
        }

        .upiwc-buttons {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            justify-content: center;

            .btn {
                margin: 0 !important;
            }
        }

        .upiwc-return-link {
            font-size: 12px;
            cursor: pointer;
            display: none;
        }
    }

    .upiwc-modal-header, .upiwc-modal-content {
        display: none !important;
    }
}

.jconfirm {
    font-family: var( --upiwc-font-family, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif );

    &.jconfirm-dark {
        .jc-bs3-container .jconfirm-box {
            .jconfirm-content-pane .jconfirm-content .upiwc-payment-content {
                border-color: rgba(122,122,122,.25);

                .upiwc-payment-actions .upiwc-payment-upi-id {
                    background-color: rgba(122,122,122,.3);
                }
                
                .upiwc-payment-container {
                    border-color: rgba(122,122,122,.25);

                    .upiwc-payment-btn .app-logo {
                        background-color: #dbdbdb;
                    }
                }

                .upiwc-payment-confirm {
                    color: #fff;

                    .upiwc-payment-confirm-form {
                        label, input {
                            color: #fff;
                        }
                    }

                    .upiwc-payment-error {
                        color: #ff7070;
                    }
                }
            }

            .jconfirm-buttons {
                .btn.upiwc-amount, .btn.upiwc-back {
                    color: #fff !important;

                    .upi-id {
                        color: #dbdbdb !important;
                    }
                }
            }
        }
    }

    .jconfirm-box-container .jconfirm-box {
        padding: 0;

        @media only screen and (max-width: 576px) {
            border-radius: 0;
            width: 100% !important;
        }

        .jconfirm-closeIcon {
            color: #fff;
            font-size: 22px !important;
        }

        .jconfirm-title-c {
            padding: 0;

            .jconfirm-title {
                display: block;
                background-color: var( --upiwc-theme-color, #0659e3 );
                padding: 18px;
                box-shadow: 0px 4px 8px rgba(23, 26, 30, 0.15);

                .upiwc-payment-header {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    color: #fff;

                    .upiwc-payment-merchant-name {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .upiwc-payment-order-info {
                        background-color: rgba(255,255,255, 0.1);
                        font-size: 11px;
                        font-weight: 500;
                        padding: 2px 10px;
                        display: flex;
                        gap: 5px;

                        .upiwc-payment-order-id {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .jconfirm-content-pane {
            margin: 0;

            @media only screen and (max-width: 576px) {
                height: calc( 100vh - 157px );
            }

            .jconfirm-content {
                .upiwc-payment-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 18px;
                    border: 1px solid #d9dadb;
                    gap: 15px;
                    padding: 18px;
                    text-align: center;

                    .upiwc-payment-qr-code {
                        max-width: 180px;
                        max-height: 180px;
                        margin: 0 auto;
                        position: relative;
                        padding: 3px;
                        overflow: hidden;
                        margin-bottom: -8px;

                        @media only screen and (max-width: 576px) {
                            max-width: 160px;
                            max-height: 160px;
                        }

                        &.upiwc-hide {
                            display: none;
                        }

                        &:before {
                            position: absolute;
                            left: 1px;
                            right: 1px;
                            top: 1px;
                            bottom: 1px;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #dbdbdb;
                            content: '';
                        }
                    }
                    
                    .upiwc-payment-actions {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        .upiwc-payment-upi-id {
                            font-size: 12px;
                            background-color: rgb(122 122 122 / 7%);
                            padding: 5px 10px;
                            text-transform: uppercase;
                            font-weight: 600;
                            line-height: 1.5;
                            cursor: pointer;
                        }

                        .upiwc-payment-button {
                            background-color: var( --upiwc-theme-color, #0659e3 );
                            padding: 8px 15px;
                            font-size: 11px;
                            font-weight: 500;
                            margin: 0;
                            text-transform: initial;
                            color: #fff !important;
                            display: inline-block;
                            line-height: 1.42857143;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            touch-action: manipulation;
                            cursor: pointer;
                            user-select: none;
                            border-radius: 4px;
                            min-height: 1em;
                            transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
                            transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
                            transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
                            -webkit-tap-highlight-color: transparent;
                            border: 0;
                            background-image: none;
                            height: auto;
                            width: auto;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .upiwc-payment-container {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border-bottom: 1px solid #dddbdb;
                        padding-bottom: 20px;
                    
                        .upiwc-payment-hint {
                            font-size: 13px;
                            font-weight: 600;
                        }
                    
                        .upiwc-payment-btn-container {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 15px;
                    
                            .upiwc-payment-btn {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                gap: 5px;
                                font-size: 11px;
                                cursor: pointer;
                    
                                .app-logo {
                                    display: flex;
                                    height: 50px;
                                    width: 50px;
                                    border: 1px solid #d9dadb;
                                    border-radius: 6px;
                                    padding: 10px;

                                    img {
                                        margin: auto;
                                    }
                                }
                            }
                        }

                        .upiwc-payment-intent-error {
                            color: #d83333;
                            font-size: 11px;
                            margin-top: 4px;
                        }
                    }

                    .upiwc-payment-info {
                        font-size: 12px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 15px;
                        text-align: center;

                        .upiwc-payment-info-text {
                            line-height: 1.5;
                        }

                        .upiwc-payment-info-logo {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            pointer-events: none;

                            .logo { 
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }

                    .upiwc-payment-confirm {
                        font-size: 12px;
                        line-height: 1.7;
                        color: #171a1e;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 12px;

                        .upiwc-payment-confirm-form {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 6px;
                            margin: 0;

                            label {
                                font-size: 12px;
                                
                                .field-required {
                                    color: #ff0000;
                                }
                            }

                            input {
                                width: 80%;
                                text-align: center;
                                display: inline-block;
                                min-height: 30px;
                                font-size: 13px;
                                line-height: 1.8;
                                padding: 6px 12px;
                                vertical-align: middle;
                                background-color: transparent;
                                color: #333;
                                border: 1px solid #ddd;
                                transition: all 0.3s ease;
                                margin: 0;
                                //-webkit-appearance: none;
                            }
                        }

                        .upiwc-payment-error {
                            color: #d83333;
                            font-size: 11px;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }

        .jconfirm-buttons {
            box-shadow: 0px -1px 10px rgba(23, 26, 30, 0.15);
            padding: 10px 14px;
            margin: -8px 0 0 0;
            float: none;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 576px) {
                min-height: 68px;
            }

            .btn {
                position: relative;
                font-family: var( --upiwc-font-family, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif );
                background-color: var( --upiwc-theme-color, #0659e3 );
                padding: 11px 20px !important;
                font-size: 12px;
                font-weight: 500;
                margin: 0 !important;
                text-transform: initial;
                color: #fff !important;
                width: auto;
                height: auto;
                box-shadow: none;

                &:disabled,
                &[disabled] {
                    opacity: .7;
                    pointer-events: none;
                }

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: var( --upiwc-theme-color, #0659e3 ) !important;
                    color: #fff !important;
                }               

                &.upiwc-amount {
                    padding: 0 !important;
                    background-color: transparent;
                    font-size: 22px;
                    font-weight: 600;
                    color: #171a1e !important;
                    display: flex;
                    flex-direction: column;
                    pointer-events: none;

                    &:hover {
                        background-color: transparent !important;
                    }

                    .upi-id {
                        font-size: 11px;
                        color: #6a6a6a;
                    }
                }

                &.upiwc-back {
                    padding: 0 !important;
                    background-color: transparent;
                    color: #171a1e !important;

                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}